@using Microsoft.AspNetCore
@model Pais

<h1>Modificar</h1>

@using(Html.BeginForm(FormMethod.Post)) {
    @Html.HiddenFor(model => model.Id)

    <div class="row">
        @Html.LabelFor(model => model.Nombre, "Nombre", new { @class = "form-label" })
        @Html.EditorFor(model => model.Nombre, "Nombre", "Nombre", new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <button type="submit" class="btn btn-primary">Editar</button>
}

@Html.ActionLink("Volver", "Index")